{% extends "AppBundle:Layouts:layout.html.twig" %}

{% block stylesheet %}  
	{{ parent() }}
	<link href="{{ asset('assets/css/component.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
	
{%block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/custom/buttons-following.js') }}"></script>
	<script src="{{ asset('assets/js/custom/gallery.js') }}"></script>
	<script src="{{ asset('assets/js/gallery/modernizr.custom.js') }}"></script>
	<script src="{{ asset('assets/js/gallery/masonry.pkgd.min.js') }}"></script>
	<script src="{{ asset('assets/js/gallery/imagesloaded.js') }}"></script>
	<script src="{{ asset('assets/js/gallery/classie.js') }}"></script>
	<script src="{{ asset('assets/js/gallery/AnimOnScroll.js') }}"></script>
	
{% endblock %}

{% block content %}
	<div class="container-fluid">
	<ul class="grid effect-8" id="grid">
	{% for im in i %}
		<li>
			<a href="#" class="js-button" data-toggle="modal" data-target="#modalPicture">
				<img src="{{ asset('uploads/publications/images/'~im.image) }}">
				<div class="publicacion-oculta publication-item">
					{{ im.text }} - 
				</div>
				<div class="fecha-publicacion-oculta publication-item">{{ im.created_at }}</div>
			</a>
		</li>
	{% endfor %}
	</ul>
	</div>
	
	<div id="modalPicture" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalPictureLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<!-- Modal - header -->
				<div class="modal-header">
					<div class="texto-publicacion-recogido"></div>
					<div class="fecha-publicacion-recogida"></div>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div><!-- .end Modal - header -->
				<!-- Modal - body -->
				<div class="modal-body">
					<img class="js-modal-image" src=""/>
				</div><!-- .end Modal - body -->
			</div>
		</div>
	</div>
	<script>
		new AnimOnScroll( document.getElementById( 'grid' ), {
			minDuration : 0.4,
			maxDuration : 0.6,
			viewportFactor : 0.2
		} );
	</script>
{% endblock %}
